section.sns
  h2.header(#header)
    a(name="sns")
      img(src="/assets/btn_social.svg")
  .content
    ul.sns-icons
      li
        a(href="https://qiita.com/tamanugi", target="_blank")
          img.qiita-icon(src="/assets/qiita-favicon.png")
      li
        a(href="https://github.com/tamanugi", target="_blank")
          img.github-icon(src="/assets/github-brands.svg")
      li
        a(href="https://twitter.com/tamanugi", target="_blank")
          img.twitter-icon(src="/assets/twitter-brands.svg")
