section.skill
  h2.header(#header)
    a(name="skill")
      img(src="/assets/btn_skill.svg")
  .content
    ul.left
      li Java
      li Elixir
      li JavaScript
      li HTML
      li CSS
      li Seasar2
      li Phoenix
      li Play Framework
      li jQuery
      li knockout
      li Vue
    ul.right
      li Angular
      li pug
      li stylus
      li Docker
      li k8s
      li MySQL
      li Oracle
      li Redis
      li Git
      li Gitlab CI
      li ChatOps