header
.main
  .menu-wrapper(#menuWrapper)
    ul.menus
      li
        a.btn((click)="scroll(profileComp.header)")
          img(src="/assets/btn_profile.svg")
      li
        a.btn((click)="scroll(skillComp.header)")
          img(src="/assets/btn_skill.svg")
      li
        a.btn((click)="scroll(worksComp.header)")
          img(src="/assets/btn_works.svg")
      li
        a.btn((click)="scroll(snsComp.header)")
          img(src="/assets/btn_social.svg")
  app-profile(#profileComp)
  app-skill(#skillComp)
  app-works(#worksComp)
  app-sns(#snsComp)