header
.main
  ul.menus
    li
      a.btn(href="#profile")
        img(src="/assets/btn_profile.svg")
    li
      a.btn(href="#skill")
        img(src="/assets/btn_skill.svg")
    li
      a.btn(href="#works")
        img(src="/assets/btn_works.svg")
    li
      a.btn(href="#sns")
        img(src="/assets/btn_social.svg")
  section.profile
    h2.header
      a(name="profile")
        img(src="/assets/btn_profile.svg")
    .content
      .left
        img(src="/assets/icon.png")
      .right
        .name
          |KAZUKI YAMADA
          a(href="")
          |(@tamanugi)
        .desc
          |福井で自社サービス開発を行っている会社にWebエンジニアとして働いています。
          |仕事ではJavaをメインでやっています。
          |現在興味があるのは Elixir, Angular, k8sなどです。
  section.skill
    h2.header
      a(name="skill")
        img(src="/assets/btn_skill.svg")
    .content
      ul.left
        li Java
        li Elixir
        li JavaScript
        li HTML
        li CSS
        li Seasar2
        li Phoenix
        li Play Framework
        li jQuery
        li knockout
        li Vue
      ul.right
        li Angular
        li pug
        li stylus
        li Docker
        li k8s
        li MySQL
        li Oracle
        li Redis
        li Git
        li Gitlab CI
        li ChatOps
  section.works
    h2.header
      a(name="works")
        img(src="/assets/btn_works.svg")
    .content
  section.sns
    h2.header
      a(name="sns")
        img(src="/assets/btn_social.svg")
    .content
      ul.sns-icons
        li
          a(href="https://qiita.com/tamanugi", target="_blank")
            img.qiita-icon(src="/assets/qiita-favicon.png")
        li
          a(href="https://github.com/tamanugi", target="_blank")
            img.github-icon(src="/assets/github-brands.svg")
        li
          a(href="https://twitter.com/tamanugi", target="_blank")
            img.twitter-icon(src="/assets/twitter-brands.svg")
