header
.main
  ul.menus
    li
      a.btn((click)="scroll(profile)")
        img(src="/assets/btn_profile.svg")
    li
      a.btn((click)="scroll(skill)")
        img(src="/assets/btn_skill.svg")
    li
      a.btn((click)="scroll(works)")
        img(src="/assets/btn_works.svg")
    li
      a.btn((click)="scroll(social)")
        img(src="/assets/btn_social.svg")
  section.profile
    h2.header(#profile)
      a(name="profile")
        img(src="/assets/btn_profile.svg")
    .content
      .left
        img(src="/assets/icon.png")
      .right
        .name
          |KAZUKI YAMADA
          a(href="")
          |(@tamanugi)
        .desc
          |福井で自社サービス開発を行っている会社にWebエンジニアとして働いています。
          |仕事ではJavaをメインでやっており、
          |プライベートではElixir, Angularを勉強しています。
  section.skill(#skill)
    h2.header
      a(name="skill")
        img(src="/assets/btn_skill.svg")
    .content
      ul.left
        li Java
        li Elixir
        li JavaScript
        li HTML
        li CSS
        li Seasar2
        li Phoenix
        li Play Framework
        li jQuery
        li knockout
        li Vue
      ul.right
        li Angular
        li pug
        li stylus
        li Docker
        li k8s
        li MySQL
        li Oracle
        li Redis
        li Git
        li Gitlab CI
        li ChatOps
  section.works
    h2.header(#works)
      a(name="works")
        img(src="/assets/btn_works.svg")
    .content
      ul
        li
          .card
            .card-img-wrapper
              img.card-img(src="/assets/galmojimaku.png")
            .card-content
              .card-title ぎゃゑもι″ま＜ ､ζ､°れ〜ゃ〜
              .card-text
                |Youtubeの字幕をぎゃるもじに変換するサイト
            .card-link
              a(href="https://protopedia.net/prototype/1c65cef3dfd1e00c0b03923a1c591db4") protopedia
              a(href="https://github.com/tamanugi/galmoji_subtitle_player") github
        li
          .card
            .card-img-wrapper
              img.card-img(src="/assets/no_image.png")
            .card-content
              .card-title peco_select_git_misc
              .card-text
                |pecoを使ってGitのブランチ, ファイル、コミットのハッシュ、タグ
                |などを楽に選択できるfishプラグイン
            .card-link
              a(href="https://qiita.com/tamanugi/items/43bad0158f4a4bb7d1d2") qiita
              a(href="https://github.com/tamanugi/peco_select_git_misc") github
        li
          .card
            .card-img-wrapper
              img.card-img(src="/assets/no_image.png")
            .card-content
              .card-title slaup
              .card-text
                |Slackに画像をアップロードするCLIツール
            .card-link
              a(href="https://qiita.com/tamanugi/items/015c7778c6ba6876284b") qiita
              a(href="https://github.com/tamanugi/slaup") github
        li
          .card
            .card-img-wrapper
              img.card-img(src="/assets/no_image.png")
            .card-content
              .card-title github_trend_bot
              .card-text
                |SlackにGithub Trending を投稿するSlack Bot
            .card-link
              a(href="https://qiita.com/tamanugi/items/4c0359ebb5a8b2d89803") qiita
              a(href="https://github.com/tamanugi/github_trend_bot") github
        li
          .card
            .card-img-wrapper
              img.card-img(src="/assets/no_image.png")
            .card-content
              .card-title slack_bot_stock_chart
              .card-text
                |Slackに株価のちゃーと画像を投稿するLiveBot
            .card-link
              a(href="https://qiita.com/tamanugi/items/6bac63ff6a5c31d8e65d") qiita
              a(href="https://github.com/tamanugi/slack_bot_stock_chart") github
  section.sns
    h2.header(#social)
      a(name="sns")
        img(src="/assets/btn_social.svg")
    .content
      ul.sns-icons
        li
          a(href="https://qiita.com/tamanugi", target="_blank")
            img.qiita-icon(src="/assets/qiita-favicon.png")
        li
          a(href="https://github.com/tamanugi", target="_blank")
            img.github-icon(src="/assets/github-brands.svg")
        li
          a(href="https://twitter.com/tamanugi", target="_blank")
            img.twitter-icon(src="/assets/twitter-brands.svg")
