header
ul.menus
  li
    a.btn
      img(src="/assets/btn_profile.png")
  li
    a.btn
      img(src="/assets/btn_skill.png")
  li
    a.btn
      img(src="/assets/btn_works.png")
  li
    a.btn
      img(src="/assets/btn_sns.png")
section.profile
  h2.header
    a(href="#profile", name="prod")
      img(src="/assets/btn_profile.png")
  .content
    .left
      img(src="/assets/icon.png")
    .right
      .name
        |KAZUKI YAMADA
        a(href="")
        |(@tamanugi)
      .desc
      |福井で自社サービス開発を行っている会社にWebエンジニアとして働いています。
      |仕事ではJavaをメインでやっています。
      |現在興味があるのは Elixir, Angular, k8sなどです。
section.skill
  h2.header
    a(href="#skill", name="skill")
      img(src="/assets/btn_skill.png")
  .content
    |Java/JavaScript/Elixir/HTML/CSS
    |/Seasar2/Play Framework/jQuery
    |/knockout/Vue/Angular/Phoenix/pug/stylus
    |/Docker/k8s/MySQL/Oracle/Redis
    |/Git/Gitlab CI/ChatOps
section.works
  h2.header
    a(href="#works", name="works")
      img(src="/assets/btn_works.png")
  .content
section.sns
  h2.header
    a(href="#sns", name="sns")
      img(src="/assets/btn_sns.png")
  .content
    ul.sns-icons
      li
        a(href="https://qiita.com/tamanugi", target="_blank")
          img.qiita-icon(src="/assets/qiita-favicon.png")
      li
        a(href="https://github.com/tamanugi", target="_blank")
          img.github-icon(src="/assets/github-brands.png")
      li
        a(href="https://twitter.com/tamanugi", target="_blank")
          img.twitter-icon(src="/assets/twitter-brands.png")
