@import "../section.styl"

.content
  display grid
  grid-template-columns: 20% 80%

  .left
    img
      width 100%
      max-width 100%
      height auto
  
  .right
    grid-template-rows: 20% 80%
    font-size 24px
    margin-left 5px

    .name
      font-weight  bold

@media(max-width: 500px)
  .content
    .right
      font-size 19px