section.works
  h2.header(#works)
    a(name="works")
      img(src="/assets/btn_works.svg")
  .content
    ul
      li
        .card
          .card-img-wrapper
            img.card-img(src="/assets/galmojimaku.png")
          .card-content
            .card-title ぎゃゑもι″ま＜ ､ζ､°れ〜ゃ〜
            .card-text
              |Youtubeの字幕をぎゃるもじに変換するサイト
          .card-link
            a(href="https://protopedia.net/prototype/1c65cef3dfd1e00c0b03923a1c591db4") protopedia
            a(href="https://github.com/tamanugi/galmoji_subtitle_player") github
      li
        .card
          .card-img-wrapper
            img.card-img(src="/assets/no_image.png")
          .card-content
            .card-title peco_select_git_misc
            .card-text
              |pecoを使ってGitのブランチ, ファイル、コミットのハッシュ、タグ
              |などを楽に選択できるfishプラグイン
          .card-link
            a(href="https://qiita.com/tamanugi/items/43bad0158f4a4bb7d1d2") qiita
            a(href="https://github.com/tamanugi/peco_select_git_misc") github
      li
        .card
          .card-img-wrapper
            img.card-img(src="/assets/no_image.png")
          .card-content
            .card-title slaup
            .card-text
              |Slackに画像をアップロードするCLIツール
          .card-link
            a(href="https://qiita.com/tamanugi/items/015c7778c6ba6876284b") qiita
            a(href="https://github.com/tamanugi/slaup") github
      li
        .card
          .card-img-wrapper
            img.card-img(src="/assets/no_image.png")
          .card-content
            .card-title github_trend_bot
            .card-text
              |SlackにGithub Trending を投稿するSlack Bot
          .card-link
            a(href="https://qiita.com/tamanugi/items/4c0359ebb5a8b2d89803") qiita
            a(href="https://github.com/tamanugi/github_trend_bot") github
      li
        .card
          .card-img-wrapper
            img.card-img(src="/assets/no_image.png")
          .card-content
            .card-title slack_bot_stock_chart
            .card-text
              |Slackに株価のちゃーと画像を投稿するLiveBot
          .card-link
            a(href="https://qiita.com/tamanugi/items/6bac63ff6a5c31d8e65d") qiita
            a(href="https://github.com/tamanugi/slack_bot_stock_chart") github