/* You can add global styles to this file, and also import other style files */

@import './reset.css'

$normal-color=#87918F

@font-face 
  font-family 'yutapon'
  src	url('/assets/font/Yutapon-coding-RegularBackslash-01.ttf') format('truetype') /* iOS, Android用 */
  font-weight normal
  font-style normal

@font-face 
  font-family 'yutapon-heavy'
  src	url('/assets/font/Yutapon-coding-Heavy-Sl-03.ttf') format('truetype') /* iOS, Android用 */
  font-weight normal
  font-style normal

body
  font-family 'yutapon'
  color $normal-color
